<header class="bg-gray-900" 
        data-controller="toggle-menu"
        data-toggle-menu-hide-class="hidden"
        data-toggle-menu-reveal-class="block"
        data-toggle-menu-is-open-value="false"
        data-toggle-menu-close-icon-value="close-icon"
        data-toggle-menu-pile-icon-value="pile-icon"
        >
  <div class="flex items-center justify-between px-4 py-3">
    <div><img class="h-8" src="<%= asset_path('logo-inverted.svg') %>" alt=""></div>
    <div>
      <button type="button" class="block text-gray-500 hover:text-white focus:text-white focus:outline-none" data-toggle-menu-target="button" data-action="toggle-menu#toggle">
        <svg class="h-6 w-6 fill-current" viewBox="0 0 24 24" data-toggle-menu-target="menuIcon">
          <path fill-rule="evenodd" d="M18.278 16.864a1 1 0 0 1-1.414 1.414l-4.829-4.828-4.828 4.828a1 1 0 0 1-1.414-1.414l4.828-4.829-4.828-4.828a1 1 0 0 1 1.414-1.414l4.829 4.828 4.828-4.828a1 1 0 1 1 1.414 1.414l-4.828 4.829 4.828 4.828z"/>
        </svg>
      </button>
    </div>
  </div>

  <div class="text-white font-semibold px-2 pt2 pb-4 hidden" data-toggle-menu-target="menu">
    <a href="#" class="block px-2 rounded hover:bg-gray-800">List your property</a>
    <a href="#" class="block px-2 rounded hover:bg-gray-800">Trips</a>
    <a href="#" class="block px-2 rounded hover:bg-gray-800">Messages</a>
  </div>

  <template id="close-icon">
    <path fill-rule="evenodd" d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"/>
  </template>
  <template id="pile-icon">
    <path fill-rule="evenodd" d="M18.278 16.864a1 1 0 0 1-1.414 1.414l-4.829-4.828-4.828 4.828a1 1 0 0 1-1.414-1.414l4.828-4.829-4.828-4.828a1 1 0 0 1 1.414-1.414l4.829 4.828 4.828-4.828a1 1 0 1 1 1.414 1.414l-4.828 4.829 4.828 4.828z"/>
  </template>
</header>
